In [1]:
#모듈 불러오기
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression

In [2]:
#데이터 불러오기
df_wine = pd.read_csv("../data/winequality-red.csv")
df_wine_test = pd.read_csv("../data/winequality-red_test.csv")
df_wine.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [3]:
#공백 데이터 여부 체크
df_wine.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [4]:
#품질을 두개의 변수로 전환
#bins = (0, 5, 10)
#group_names = ['0', '1']
#df_wine['quality'] = pd.cut(df_wine['quality'], bins = bins, labels=group_names)

In [5]:
df_wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1434,10.2,0.540,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,6
1435,10.2,0.540,0.37,15.4,0.214,55.0,95.0,1.00369,3.18,0.77,9.0,6
1436,10.0,0.380,0.38,1.6,0.169,27.0,90.0,0.99914,3.15,0.65,8.5,5
1437,6.8,0.915,0.29,4.8,0.070,15.0,39.0,0.99577,3.53,0.54,11.1,5
1438,7.0,0.590,0.00,1.7,0.052,3.0,8.0,0.99600,3.41,0.47,10.3,5

In [6]:
#예측하고자 하는 변수를 Y값으로, 학습 대상의 변수를 X값으로
X = df_wine.drop("quality", axis=1)
y = df_wine["quality"]

In [7]:
#표준화
scaler = StandardScaler()
X = scaler.fit_transform(X)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0, shuffle=False)

In [8]:
#모델링
linear = LinearRegression()
linear.fit(X,y)

logistic = LogisticRegression(multi_class='multinomial', solver='lbfgs', penalty='l2', C=1.0)
logistic.fit(X,y)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:947: ConvergenceWarning: lbfgs failed to converge. Increase the number of iterations.
  "of iterations.", ConvergenceWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='multinomial', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
df_wine_test.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.3,0.670,0.02,2.20,0.072,31,92,0.99566,3.32,0.68,11.066667
1,7.2,0.370,0.32,2.00,0.062,15,28,0.99470,3.23,0.73,11.300000
2,7.4,0.785,0.19,5.20,0.094,19,98,0.99713,3.16,0.52,9.566667
3,6.9,0.630,0.02,1.90,0.078,18,30,0.99712,3.40,0.75,9.800000
4,6.9,0.580,0.20,1.75,0.058,8,22,0.99322,3.38,0.49,11.700000

In [10]:
x_submission = df_wine_test.values

In [11]:
#Applying to the model
pred = linear.predict(x_submission)
pred

array([-0.52034514,  6.47837358, -2.097379  ,  5.86490798,  6.92259506,
       -0.51074634, -2.08778019,  5.86490798,  4.92326974,  3.8892664 ,
        6.36461044,  6.47837358,  7.46180727,  4.43109465, -0.43551365,
        6.84375123,  7.25597013, -0.12095215, -0.43551365,  6.95315153,
        7.93085726,  2.68857942,  7.3587931 ,  5.74125604,  4.92087139,
        3.7495009 ,  3.7495009 ,  3.6527597 ,  5.90406133,  3.6527597 ,
        3.61873515,  6.25928523,  7.90397751,  4.89152653,  4.22399786,
        1.09532824, -0.07919813,  1.09532824, -0.06959933,  7.28508155,
        6.85187632,  7.37012952,  6.85187632,  7.87327041,  7.84748205,
        7.78494111,  6.003155  ,  6.44124774,  7.21964794,  7.71887248,
        7.81362534,  7.6775353 ,  7.71887248,  7.33705034, -7.65924903,
        6.05314865,  6.2662    , -7.65924903,  7.53564222,  7.62905301,
        7.53564222,  7.14990663,  1.91423207,  2.23641971,  7.60833163,
        7.96986754,  7.48783335,  7.50464867,  7.96986754,  6.70769141,
        7.10429306,  4.06861889,  6.24606985,  7.21991903,  1.88363874,
        1.51586731,  1.52066672,  3.0616742 ,  4.81180815,  6.84222652,
        6.13121088,  4.81180815,  6.09174064,  3.0616742 ,  2.83167989,
        4.08190377,  5.37494954,  4.88905631,  6.75337311,  2.76795838,
        4.31938561,  7.36861809,  5.96052538,  6.86434534, -0.07683422,
        6.32029788,  5.1336947 ,  4.44212381,  5.85258408,  6.79896932,
        3.05612442,  5.89144711,  4.09349002,  5.55429463,  7.39982006,
        7.46850975,  6.06344841,  6.40925329,  6.68684472,  3.97009625,
        7.05664427,  6.18232898,  6.07958331,  4.01168279,  5.96881557,
        6.84061943,  6.66596233,  6.74223942,  6.84061943, -2.24279549,
       -5.42345189, -5.42345189, -5.42345189,  6.86413558,  6.86413558,
        6.86413558,  5.08254508,  3.9882853 ,  6.86413558,  4.54517622,
        5.72231811,  6.10223104,  6.71991505, -2.25973386,  4.13027036,
       -0.79702536,  7.41827798,  6.29726718,  6.61920825,  7.2392844 ,
        6.24160583,  6.64803056,  6.24160583,  6.53971646, -1.58558208,
        6.21222877,  4.48562188,  3.54599584,  6.34017034, -1.06241601,
        0.44740905,  6.10310652,  6.62898375,  5.46618522,  5.23817621,
        4.91402084,  4.59443975,  5.46618522,  4.81951183,  4.83287194])

In [12]:
pred.size

160

In [13]:
submission = pd.DataFrame(data=pred)
submission.index.name='ID'
submission.columns = ['quality']

submission.to_csv("submission.csv")

In [14]:
submission

      quality
ID
0   -0.520345
1    6.478374
2   -2.097379
3    5.864908
4    6.922595
..        ...
155  4.914021
156  4.594440
157  5.466185
158  4.819512
159  4.832872

[160 rows x 1 columns]